



Salesman
1. Do you want salesman able to mark their own sales as resolved
yes
Landing page
1. Add testimonials customer reviews
Customer
1. Booking email do you need a waze button

km shud show
share


